:root {
  --primary-color: #693c72;
  --secondary-color: #c15050;
  --alternative-color: #d97642;
}

body {
  font-family: "Raleway", sans-serif;
  background-color: black;
}

h1 {
  color: var(--primary-color);
}

h2 {
  color: var(--secondary-color);
}

a {
  color: var(--secondary-color);
}

p {
  color: white;
}

.img-fluid {
  max-width: 50%;
  height: auto;
}
.weather-vanillajs-project {
  border: 1px solid var(--primary-color);
  border-radius: 4px;
}

.weather-reactjs-project {
  border: 1px solid var(--primary-color);
  border-radius: 4px;
}
