:root {
  --primary-color: #c79ecf;
  --secondary-color: #7e6bc4;
}

body {
  font-family: "Poppins", sans-serif;
}

h1 {
  color: var(--primary-color);
  font-weight: bold;
}

h2 {
  color: var(--secondary-color);
  font-weight: bolder;
}

a {
  color: var(--secondary-color);
  text-decoration: none;
}

p {
  color: #3b3b3f;
  font-size: 14px;
  text-align: justify;
}

nav {
  background-color: #f9f7fe;
}

.navbar-light .navbar-nav .nav-link {
  color: var(--secondary-color);
  font-weight: lighter;
}

.btn-about :hover {
  color: white;
  text-decoration: none;
  transition: all 100ms ease-in-out;
}

.img-fluid {
  max-width: 20%;
  height: auto;
}

.about-header {
  font-size: 25px;
}

.btn-projects :hover {
  color: white;
  text-decoration: none;
  transition: all 100ms ease-in-out;
}

.weather-vanillajs-project {
  border: 1px solid var(--primary-color);
  border-radius: 4px;
}

.weather-reactjs-project {
  border: 1px solid var(--primary-color);
  border-radius: 4px;
}

.bt-style {
  background-color: var(--primary-color);
}

.projects-header {
  color: var(--secondary-color);
}

.projects-image {
  max-width: 50%;
}

.btn-app :hover {
  color: white;
  text-decoration: none;
  transition: all 100ms ease-in-out;
}

.contact-header {
  color: var(--secondary-color);
}

.email-contact i {
  font-size: 40px;
}

.email-contact a {
  color: var(--primary-color);
}

.linkedin-contact i {
  font-size: 45px;
}

.linkedin-contact a {
  color: var(--primary-color);
}

footer .contact-box {
  background-color: #f9f7fe;
}

footer .footer-h2 {
  color: var(--primary-color);
}

footer .btn-footer :hover {
  color: white;
  text-decoration: none;
  transition: all 100ms ease-in-out;
}

footer .email-footer {
  font-size: 15px;
}

footer .github-link {
  font-size: 35px;
}
